<h1>List of Categories </h1>

<div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

<div class="panel panel-default categories">
  <%= render @categories %>
   
</div>