<header class="page-header">
    <h1>
    Find the plant of your dreams!
    </h1>
  </header>

<div class="intro">
<p>The Jungle is a community of proud plant enthusiasts providing a vast selection of high quality plants and trees for people who love their plants like they were their own children.  </p>

<p> We strive to bring to our customers the best in class plant shopping experience. We take care of our customers, the same way we tend to our very own plants, with love and attention. </p>
</div>